# Python
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/venv/
backend/.venv/
backend/.env

# Flutter / Dart
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/.pub-cache/
app/.pub/
app/build/

# Mac
.DS_Store
